ytd-watch-grid #secondary {
    --ytd-watch-flexy-sidebar-width: 380px;
}

ytd-watch-grid #secondary #bottom-grid {
    overflow-x: unset !important;
}

ytd-watch-grid #secondary ytd-rich-grid-renderer {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

    ytd-watch-grid #secondary ytd-rich-grid-renderer #contents {
        padding: 0px !important;
        margin: 0px !important;
    }

ytd-watch-grid #secondary ytd-rich-section-renderer #content {
    margin: 0px !important;
}

ytd-watch-grid #secondary ytd-rich-item-renderer {
    width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

    ytd-watch-grid #secondary ytd-rich-item-renderer #dismissible {
        display: flex !important;
        flex-direction: row !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer #video-title {
        font-size: 1.4rem !important;
        line-height: 2rem !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer #channel-name, ytd-watch-grid #secondary ytd-rich-item-renderer #metadata-line {
        font-size: 1.2rem !important;
        line-height: 1.8rem !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer ytd-thumbnail, ytd-watch-grid #secondary ytd-rich-item-renderer ytd-playlist-thumbnail {
        flex: none !important;
        width: 168px !important;
        height: 94px !important;
        margin-right: 8px !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer ytd-thumbnail::before {
        display: unset !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer #avatar-link, ytd-watch-grid #secondary ytd-rich-item-renderer #attached-survey, ytd-watch-grid #secondary ytd-rich-item-renderer #details #buttons {
        display: none !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer #details {
        width: 100% !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer #meta {
        width: 100% !important;
        font-size: 1.4rem !important;
        line-height: 2rem !important;
        padding: 0px !important;
        margin-right: 24px !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer #metadata-line {
        flex-wrap: nowrap !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer #metadata-line span {
        flex: none;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer #metadata-line span ~ span {
        flex: auto !important;
        width: 100px;
        text-wrap: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    ytd-watch-grid #secondary ytd-rich-item-renderer h3 {
        margin: 0px;
    }

ytd-watch-grid #primary #secondary-inner {
    margin-top: 10px !important;
    animation: none !important;
    width: 100% !important;
}

ytd-watch-grid #secondary #secondary-inner {
    display: none !important;
}

ytd-watch-grid #primary #subscribe-button {
    margin-left: 8px !important;
}

ytd-watch-grid #primary ytd-menu-renderer {
    width: auto !important;
}

ytd-watch-grid #secondary #fixed-secondary {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    transform: none !important;
    width: auto !important;
    height: auto !important;
    animation: slide-up .3s ease-out backwards !important;
}

ytd-watch-grid ytd-playlist-panel-renderer, ytd-watch-grid ytd-engagement-panel-section-list-renderer, ytd-watch-grid #secondary #chat {
    position: relative !important;
    top: unset !important;
    bottom: unset !important;
    margin-bottom: 10px !important;
    max-height: calc(100vh - var(--ytd-watch-flexy-masthead-height) - var(--ytd-watch-grid-columns-top-margins) - var(--ytd-watch-grid-horizontal-page-margins)) !important;
}

ytd-watch-grid ytd-engagement-panel-section-list-renderer, ytd-watch-grid #secondary ytd-live-chat-frame:not([collapsed]) {
    height: calc(100vh - var(--ytd-watch-flexy-masthead-height) - var(--ytd-watch-grid-columns-top-margins) - var(--ytd-watch-grid-horizontal-page-margins)) !important;
}